archive/exemplos/topico-2/namespaces/abc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://exemplo/abc" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://exemplo/abc" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="e">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="e1"/>
                <xs:element name="e2"/>
            </xs:sequence>
            <xs:attribute name="a1"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
